
project/APP/back-end/credenciais/credencial.txt
project/APP/myapp/credenciais/url.txt
project/APP/myapp/apis/credenciais/credencial.txt
project/APP/myapp/apis/credenciais/url.txt
project/APP/myapp/credenciais/credencial.txt
project/APP/myapp/credenciais/credencial.txt
project/APP/myapp/credenciais/credencial.txt
